<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="styles/adminPanel.css">
    <link rel="stylesheet" href="styles/blog.css">
    <link rel="stylesheet" href="styles/calendar.css">
    <link rel="stylesheet" href="styles/docs.css">
    <link rel="stylesheet" href="styles/calendar.css">
    <link rel="stylesheet" href="styles/docs.css">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/partners.css">
    <link rel="stylesheet" href="styles/register.css">
    <link rel="stylesheet" href="styles/research.css">
    <link rel="stylesheet" href="styles/spoder.css">
    <link rel="stylesheet" href="styles/settings.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
  </head>
  <body ng-app="EntrepreneurApp">
    <!-- Nav bar -->
    <header>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="navbar-brand">
                <a href="#/home" class="web-header"><h1><span>E</span>E</h1></a>
              </div>
            </div>
            
            <!-- <li id="nav-login" role="presentation"><a href="#/login">Login</a></li>
            <li id="nav-register" role="presentation"><a href="#/register">Register</a></li>
            <li id="nav-admin" role="presentation"><a href="#/admin">Admin</a></li>
            <li id="nav-logout" role="presentation" ng-click="logout()"><a href="#">Logout</a></li> -->

            <div class="navbar-collapse collapse">
              <div class="menu">
                <ul class="nav nav-tabs" role="tablist" ng-controller="navController">
                  <li role="presentation" class="active-{{currentPage}}"><a href="#/home" id="nav-home">Home</a></li>
                  <li role="presentation">
                      <div class="dropdown active-{{currentPage}}">
                          <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Information
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" class="active-{{currentPage}}"><a href="#/about" id="nav-about">About</a></li>
                            <li role="separator" class="divider"></li>
                            <li role="presentation" class="active-{{currentPage}}"><a href="#/spoder" id="nav-spoder">SPODER</a></li>
                            <li role="presentation" class="active-{{currentPage}}"><a href="#/resources" id="nav-resources">Resources</a></li>
                            <li role="presentation" class="active-{{currentPage}}"><a href="#/research" id="nav-research">Research</a></li>
                          </ul>
                        </div>
                  </li>
                  <li role="presentation" class="active-{{currentPage}}"><a href="#/blog" id="nav-blog">Blog</a></li>
                  <li role="presentation" class="active-{{currentPage}}"><a href="#/calendar" id="nav-calendar">Events</a></li>
                  <li ng-show="!loggedIn" role="presentation" class="active-{{currentPage}}"><a href="#/login" id="nav-login">Login</a></li>
                  <li ng-show="!loggedIn" role="presentation" class="active-{{currentPage}}"><a href="#/register" id="nav-register">Register</a></li>
                  <li ng-show="loggedIn && isAdmin" role="presentation" class="active-{{currentPage}}"><a href="#/admin" id="nav-admin">Admin</a></li>
                  <li ng-show="loggedIn && !isAdmin" role="presentation" class="active-{{currentPage}}"><a href="#/settings" id="nav-settings">Settings</a></li>
                  <li ng-show="loggedIn" role="presentation" ng-click="logout()"><a href="#/home">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div ng-view></div>

    <footer>
      <div class="footer">
        <div class="container">
          <div class="col-md-4">
            <ul class="social-network">
              <li><a href="#" class="fb tool-tip"><i class="fa fa-facebook"></i></a></li>
              <!-- <li><a href="#" class="twitter tool-tip"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" class="gplus tool-tip"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" class="linkedin tool-tip"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#" class="ytube tool-tip"><i class="fa fa-youtube-play"></i></a></li> -->
            </ul>
          </div>

          <div class="col-md-4 col-md-offset-4">
            <div class="copyright">
              Address and Contact info <br>
              &copy; Entrepreneur Empowerment. All Rights Reserved.
            </div>
          </div>
        </div>

        <div class="pull-right">
          <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
    <script>
      // Set up Firebase configurations
      var config = {
        apiKey: "AIzaSyCwL630KvhwEy9yQDbohtZBUiuxqu6QoN4",
        authDomain: "empowerment-b6bf4.firebaseapp.com",
        databaseURL: "https://empowerment-b6bf4.firebaseio.com",
        projectId: "empowerment-b6bf4",
        storageBucket: "empowerment-b6bf4.appspot.com",
        messagingSenderId: "176754797356"
        };
        firebase.initializeApp(config);
    </script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories/listingFactory.js"></script>
    <script src="js/factories/authService.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/listingController.js"></script>
    <script src="js/controllers/authController.js"></script>
    <script src="js/controllers/navController.js"></script>
    <script src="js/controllers/adminController.js"></script>
    <script src="js/controllers/blogController.js"></script>
    <script src="js/controllers/blogPostController.js"></script>
    <script src="js/controllers/calendarController.js"></script>
    <script src="js/controllers/docsController.js"></script>
    <script src="js/controllers/settingsController.js"></script>
    <!-- Route config -->
    <script src="js/config.routes.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="js/frontend/jquery-2.1.1.min.js"></script> -->
    <!-- Animation Libraries -->
    <script src="js/frontend/jquery.prettyPhoto.js"></script>
    <script src="js/frontend/jquery.isotope.min.js"></script>
    <script src="js/frontend/wow.min.js"></script>
    <script src="js/frontend/homePageAnimations.js"></script>
  </body>
</html>
