.adminSection {
    padding-bottom: 0;
    color: black;
}

.formContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formContainer input {
    width: auto;
    height: 40px;
    margin-right: 15px;
}

.formInput {
    width: 350px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formBtn {
    width: auto;
    margin-top: 5px;
    height: 40px;
}

.vidForm {
    display: flex;
    flex-direction: column;
}

.tagHorizontal {
    display: flex;
    flex-direction: row;
}

.checkbox {
    margin-top: 10px !important;
}


.side-nav {
    padding-top: 80px;
    border-right: 1px solid black;
    background-color: #25436B;
    color: white;
    height: 100vh;
    position: sticky;
    top: 80px;
}

.side-nav h2 {
    text-align: center;
    color: white;
}

.side-nav ul {
    padding-left: 0;
}

.side-nav-btn {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: inherit;
}

.side-nav-btn:hover {
    background: none;
}

.side-nav-btn:focus {
    outline: none;
}

.side-nav li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid white;
}

.side-nav li:hover {
    color: rgb(255, 243, 74);
    font-weight: 400;
}

.side-nav-active {
    color: rgb(255, 243, 74);
    font-weight: 400;
}

@media (max-width: 768px) {
    .adminSection {
        padding-top: 0;
        margin-top: -5vh;
    }

    .side-nav {
        position: relative;
        height: auto;
        padding-top: 20px;
        margin-bottom: 80px;
    }
}
