.resourcesSection {
    padding: 0;
    height: 81.5vh;
}

.bot-border-none {
    border-bottom: none !important;
}

.docContent {
    padding: 80px 10px;
}

.contentHeader {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.contentHeader h2 {
    margin-left: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #25436B;
}

.titleContainer {
    text-align: left;
}

.contentHeader div {
    padding: 0 10px;
}

.contentHeader button {
    width: fit-content;
}

.btn-wrapper {
    width: 100%;
}

.docContent li {
    list-style: none;
}

.docItem {
    padding: 10px 5px;
}

.centerAlign {
    justify-content: center;
}

.docItem a {
    
}

.vidList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentInput {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.commentInput input {
    margin-right: 5px;
}

.horizontalInput {
    display: flex;
    flex-direction: row;
}

.horizontalInput input:nth-child(1) {
    margin-right: 10px;
}

.vidRequestContainer {
    width: 80%;
    text-align: center;
}
