#searchBar  {
  margin: 15px 10px;
}

.header {
  background-color: #F3701A;
  opacity: 0.9;
  padding-top: 1px;
  padding-bottom: 5px;
}


.tableWrapper {
  max-height: 640px;
  overflow: auto;
}

th{
  background-color: #F5F5F5;
  position: sticky;
}

h1  {
  font:  Helvetica;
  text-align: center;
  color:white;
}

h2  {
  font: 10px;
  color: #00529b;
}


button {
  background-color: #00529b;
  color: white;
  padding: 3px 8px;
  text-align: center;
  display: inline-block;
}

button:hover, a:active {
  background-color: #4C87B5;
}

.jumbotron {
  background-color: #FFFDF5;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-top: -5px;
}


body{
  font-family: Helvetica, sans-serif;
}

