.registerContent  {
  height: 100%;
  position: relative;
  padding-bottom: 165px;
  padding-top: 150px;
  text-align: justify;
}

/* .top-padding {
  padding-top: 150px;
} */

.registerContent .form-container {
  display: inline-block;
  /* margin-top: 15px; */

  margin-left: 15%;
  margin-right: auto;

  padding: 2px 16px;
  width: 400px;

  border:none;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}


.registerContent .form-input {
  display: inline-block;
  margin-top: 15px;
  width: 100%;
  height:50px;
  color: black;
  border-color: #E0E5E6;
  border-width: 1px;
  background-color: #F8F8F8;
}


.form-label {
  width: 100%;
}

.details-container {
  padding: 2px 16px;
}

.bot-margin {
  margin-bottom: 20px;
}

.red {
  background-color: rgb(230, 84, 84);
  color: white;
}

.details-container {
  padding: 2px 16px;
}

.bot-margin {
  margin-bottom: 20px;
}

.red {
  background-color: rgb(230, 84, 84);
  color: white;
}

.slateGray {
  background-color: darkslategray;
  color: white;
}

.g-signin2  {
  margin-left: auto;
  margin-right: auto;
}


.registerContent button:hover, .registerContent a:active {
  background-color: #4C87B5;
  transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.registerContent h4 {
  text-align: center;
}

.regBio {
  background: rgb(0,0,0,0.05);
  padding:50px;
  margin:50px;
}