<section class="adminSection">
  <div class="row">
    <!-- sub nav -->
    <div class="col-md-3 side-nav">
        <h2>Topics</h2>
        <ul>
          <li class="side-nav-active">
            <button class="side-nav-btn">Resources</button>
          </li>
          <li>
            <button class="side-nav-btn">Blog</button>
          </li>
          <li>
            <button class="side-nav-btn">Calendar Events</button>
          </li>
        </ul>
    </div>
    <div class="col-md-9 content">
      <div class="row docContent">
        <div class="contentType">
          <div class="contentHeader">
            <form id="uploadFileForm">
                <div class="form-group">
                    <label for="myFileField">Select a file: </label>
                    <input type="file" demo-file-model="myFile" name="myFile"/>
                </div>
                <input type="submit" value="Add Resource"/>
            </form>
          </div>
        </div>
      </div>
      <div class="row blogContent">
        <div class="row">
          <div class="col-md-12">
            <h2>Post to blog</h2>
            <!-- input for blog -->
            <input type="text" placeholder="Post title" ng-model="blogpost.title"/>
            <textarea type="text" placeholder="Enter post" ng-model="blogpost.body"></textarea>
            <div class="btnContainer">
              <!-- add post -->
              <button class="btn-secondary" ng-click="addPost()">Add Post</button>
              <!-- edit post -->
              <!-- <button class="btn-secondary">Edit Post</button> -->
              <!-- delete post -->
    <!-- <button class="btn-secondary">Delete Post</button> -->
            </div>
          </div>
        </div>
        <div class="row calendarContent">
          <!--<button  class="btn-primary">Delete event</button>
          <button  class="btn-primary">Edit Events</button>-->
          <h2>Pending Events</h2>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Event</th>
                <th>Date</th>
                <th>Details</th>
                <th></th>
              </tr>
              <tr ng-repeat="event in eventList">
                <td>{{event.eventName}}</td>
                <td>{{event.eventDate}}</td>
                <td>{{event.details}}</td>
                <td ng-click="verifyEvent(event._id)"><button  class="btn-primary">Approve</button></td-->
                <td ng-click="deleteEvent(event._id)"><button  class="btn-primary">Deny</button></td-->
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>