<section>
  <div class="blogSection">
    <div class="row">
      <div class="col-md-10 align-center">
        <h2>Latest Blog</h2>
        <div class="posts">
          <div class="blogPost" ng-repeat="blog in blogPosts">
            <div class="postHeader">
              <h3>
                {{ blog.title }}
                <span class="postDate">{{ blog.created_at }}</span>
              </h3>
            </div>
            <p class="postContent">
              {{ blog.body }}
            </p>

      <div class="commentSection">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in blog.comments">
          name: {{ comment.username }} <br>
          message: {{ comment.message }}
        </li>
      </ul>
      <!-- input for comment -->
      <input type="text" placeholder="comment text" ng-model="blog.comment"/>
      <div class="btnContainer">
        <!-- add comment -->
        <button class="btn-secondary" ng-click="addComment(blog)">Add Comment</button>
        <!-- edit comment -->
        <!--<button class="btn-secondary">Edit Comment</button> -->
        <!-- delete comment -->
        <!--<button class="btn-secondary">Delete Comment</button> -->
      </div>
      </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <!-- Tag Filters -->
        <div class="tag-container">
            <h3>Tags</h3>
        </div>
      </div>
    </div>
  </div>
</section>