<section> 
  <div class="blogSection">
    <div class="row">
      <div class="col-md-3 tag-container">
        <!-- Tag Filters -->
        <h3 class="align-center">Tags</h3>
        <div class="checkbox">
          <label>
            <input id="tag0" type="checkbox" value="getting started" ng-model="state0" ng-change="tagFilter(state, 0)">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Getting Started
            </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tag1" type="checkbox" value="models" ng-model="state1" ng-change="tagFilter(state, 1)">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Models
            </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tag2" type="checkbox" value="marketing" ng-model="state2" ng-change="tagFilter(state, 2)">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Marketing
            </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tag3" type="checkbox" value="financing" ng-model="state3" ng-change="tagFilter(state, 3)">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Financing
            </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tag4" type="checkbox" value="government" ng-model="state4" ng-change="tagFilter(state, 4)">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            Government
            </label>
        </div>
      </div>
      <div class="col-md-9 align-center">
        <h2>Latest Blogs</h2>
        <div class="posts">
          <div class="blogPost" ng-repeat="blog in blogPosts" ng-click="viewPost(blog._id)">
            <div class="postHeader">
              <h3>
                {{ blog.title }}
                <span class="postDate" ng-bind="blog.created_at | date:'MM/dd/yyyy hh:mm:ss'"></span>
              </h3>
            </div>
            <p class="postContent">
              {{ blog.body }}
            </p>
            <button class="btn-primary" ng-click="viewPost(blog._id)">View Blog Post</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>