<section class="calendarContent">
  <div class="container" >
    <div class="googleCalendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=entrempowerment%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=Nm8zNzM0NGFtNzNvMTdqdXVjZzkybDRiYWUgZW50cmVtcG93ZXJtZW50QG0&amp;tmsrc=entrempowerment%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
  </div>


  <div id="submit">
      <button id="myBtn" class="btn-primary">Submit new event</button>

      <div id="myModal" class="modal wow fadeInDown" data-wow-duration="1000ms">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>

          <form class="form-horizontal">
              <input class="form-input" type="text" placeholder="Event name" ng-model="event.eventName"></input>

              <!--input class="form-input" type="date" placeholder="Date" ng-model="event.eventDate"></input-->

              <input class="form-input" type="datetime-local" placeholder="Time" ng-model="event.startTime"></input>

              <input class="form-input" type="datetime-local" placeholder="Time" ng-model="event.endTime"></input>

              <input class="form-input" type="text" placeholder="Address" ng-model="event.address"></input>

              <input class="form-input" type="text" placeholder="Details" ng-model="event.details"></input>

              <input class="form-input" type="text" placeholder="Hosted by" ng-model="event.host"></input>

              <button class="btn-primary" type="submit" ng-click="addEvent()">Submit event</button>
          </form>
        </div>
      </div>
    </div>

  <!--the next 3 might actually be built into google calendar idk-->
</section>
