<section class="calendarContent">
  <div id="submit">
      <button id="myBtn" class="btn-primary">Submit new event</button>

      <div id="myModal" class="modal wow fadeInDown" data-wow-duration="1000ms">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>

          <form class="form-horizontal">
              <p>Submit a community hosted event to share with the rest of the community. Or request for us to hold a workshop for your organization.</p>
              <br>
                  <div class="form-group">
                    <label>Event name</label>
                    <input class="form-input" type="text" ng-model="event.eventName"></input>
                  </div>
            
                  <div class="form-group">
                    <label>Start time</label>
                    <input class="form-input" type="datetime-local" ng-model="event.startTime"></input>
                  </div>
            
                  <div class="form-group">
                    <label>End time</label>
                    <input class="form-input" type="datetime-local" ng-model="event.endTime"></input>
                  </div>
            
                  <div class="form-group">
                    <label>Address</label>
                    <input class="form-input" type="text"ng-model="event.address"></input>
                  </div>
            
                  <div class="form-group">
                    <label>Details</label>
                    <input class="form-input" type="text" ng-model="event.details"></input>
                  </div>

                  <div class="form-group">
                    <label>Hosted by</label>
                    <input class="form-input" type="text" ng-model="event.host"></input>
                  </div>
        
                  <button class="btn-primary" type="submit" ng-click="addEvent()">Submit event</button>
              </form>
        </div>
      </div>
    </div>
  
  <div class="container" >      
    <div class="googleCalendar">
      <iframe src="https://calendar.google.com/calendar/b/2/embed?showTitle=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=entrempowerment%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=Nm8zNzM0NGFtNzNvMTdqdXVjZzkybDRiYWUgZW50cmVtcG93ZXJtZW50QG0&amp;tmsrc=entrempowerment%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
    </div>
  </div>
</section>

  <!-- message modal -->
  <div id="msgModal" class="modal wow fadeInDown" data-wow-duration="1000ms">
      <!-- Modal content -->
      <div class="popup-content">
        <div ng-if="msgModalParam.success" class="o-circle c-container__circle o-circle__sign--success">
          <div class="o-circle__sign"></div>  
        </div>   
        
        <div ng-if="!msgModalParam.success" class="o-circle c-container__circle o-circle__sign--failure">
          <div class="o-circle__sign"></div>  
        </div>   
        <h2>{{ msgModalParam.popupMessage }}</h2>
      </div>
  </div>
