<section>
  <!-- sub nav -->
  <div class="row">
    <div class="col-md-3 side-nav">
        <h2>Topics</h2>
        <ul>
          <li class="side-nav-active">
            <button class="side-nav-btn">Business Plans and Business Models</button>
          </li>
          <li>
            <button class="side-nav-btn">Entrepreneurial Marketing</button>
          </li>
          <li>
            <button class="side-nav-btn">Developing the Entrepreneur</button>
          </li>
          <li>
            <button class="side-nav-btn">Financing</button>
          </li>
          <li>
            <button class="side-nav-btn">Getting Started</button>
          </li>
          <li>
            <button class="side-nav-btn">Government Support Programs</button>
          </li>
          <li>
            <button class="side-nav-btn">Women Entrepreneurs</button>
          </li>
          <li>
            <button class="side-nav-btn">Social Entrepreneurship</button>
          </li>
          <li class="bot-border-none">
            <button class="side-nav-btn">Videos on Entrepreneurship</button>
          </li>
        </ul>
      </div>
      <div class="col-md-9 docContent">
        <div class="contentType">
          <div class="contentHeader">
            <h2>Resources</h2>
            <button class="btn-secondary">View Videos</button>
          </div>
          <!-- <a id="myimg" target="_blank" href="" download="test.pdf">doc</a> -->
          <ul>
            <li class="docItem" ng-repeat="doc in docs">
              <a id="doc{{$index}}" target="_blank" href="" download="{{ doc.name }}" ng-click="downloadFile($index, doc._id)" class="btn-primary">{{ doc.name }}</a>
              <!-- Comment section -->
              <h4>Comments</h4>
              <ul>
                <li ng-repeat="comment in doc.comments">
                  user: {{ comment.username }} <br>
                  message: {{ comment.message }}
                </li>
              </ul>
              <div class="commentInput">
                <input type="text" ng-model="doc.comment"/>
                <button class="btn-primary" ng-click="addComment(doc)">send</button>
              </div>
            </li>
          </ul>
        </div>
    </div>
  </div>
</section>
