section {
    padding-top: 80px;
    color: black;
}

.side-nav {
    border-right: 1px solid black;
    background-color: #25436B;
    color: white;
}

.side-nav h2 {
    text-align: center;
    color: white;
}

.side-nav ul {
    padding-left: 0;
}

.side-nav-btn {
    border: none;
    background: none;
}

.side-nav-btn:focus {
    outline: none;
}

.side-nav li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid white;
}

.side-nav li:hover {
    color: rgb(255, 243, 74);
    font-weight: 400;
}

.side-nav-active {
    color: rgb(255, 243, 74);
    font-weight: 400;
}

.bot-border-none {
    border-bottom: none !important;
}

.docContent {
    padding: 10px;
}

.contentHeader {
    display: flex;
    flex-direction: row
}

.contentHeader h2 {
    margin-right: 15px;
}

.contentHeader button {
    margin-top: 15px;
    margin-right: 15px;
    height: fit-content;
}

.contentType {

}

.contentType li {
    list-style: none;
}

.docItem {

}

.commentInput {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

.commentInput input {
    margin-right: 5px;
}
